html,
body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

/* Use flex box to make sticky footer */
.app-container {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.content {
  -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 1;           /* IE 10 */
  flex: 1;               /* NEW, Spec - Firefox, Chrome, Opera */
  margin: 0;
  padding: 0;
}

/* End flexbox sticky footer styles */