html,
body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 275px;
  background: #f7f7f7;

}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* Use flex box to make sticky footer */
.app-container {
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: -webkit-flex;
  display: flex; 
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.content {
  -webkit-flex: 1;  
  -ms-flex: 1;      
  flex: 1;          
  margin: 0;
  padding: 0;
}

/* End flexbox sticky footer styles */

.button {
  color: #4286f4;
  background-color: #fff;
  font-size: 16px;
  width: 150px;
  padding: 7px 0;
  margin: 10px;
  border: 2px solid #4286f4;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.no-touchevents .button:hover {
  color: #fff;
  background-color: #4286f4;
}

