footer {
  height: 160px;
  background: #DCB889;
  color: #000;
  text-align: center;
  padding-bottom: 40px;
}

footer a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

.icons-container a {
		margin: 0 10px;
		position: relative;
		transition: all .2s ease-in;
		text-decoration: none;
		border: 0;
}

.icons-container a,
.icons-container a:visited {
  color: #000;
}

.no-touchevents .icons-container a:hover {
	top: 3px;
}