.hero-header {
  background: url('/cork-texture.jpg');
  background-size: cover;
  position: relative;
  height: 95vh;
  width: 100%;
}

.hero-header h1,
.hero-header h3 {
  color: #000;
  color: #fff;
  position: absolute;
  top: 20%;
  text-align: center;
  width: 100%;
  font-size: 4em;
  font-weight: 200;
  letter-spacing: .3em;
}

.hero-header h3 {
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%); 
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); 
  font-size: 2em;
  width: 75%;
  line-height: 1.4; 
}

.small-header {
  background-color: yellow;
}

.down-arrow {
  color: #fff;
  position: absolute;
  bottom: 15%;
  -ms-transform: translateX(-50%); 
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); 
}

@media (max-width: 460px) {
  .hero-header h1 {
    font-size: 3em;
  }
  .hero-header h3 {
    font-size: 1.5em;
    top: 45%;
  }
}