.nav-container {
  height: 50px;
  background: #DCB889;
}

.nav-container a {
  text-decoration: none;
  color: #000;
}

.nav-container li {
  list-style-type: none;
}

.no-touchevents .outside-burger-links li:hover,
.no-touchevents .wide-nav li:hover { 
  border-bottom: 1px solid #000;
}

.narrow-nav li {
  border-bottom: 1px solid transparent;
}

.burger-menu a, 
.burger-menu li {
  color: #fff;
  text-decoration: none;
}

.no-touchevents .burger-menu a:hover,
.no-touchevents .burger-menu .twitter-login-link:hover,
.no-touchevents .burger-menu .logout-link:hover {
  border-bottom: 2px solid #fff;
}

.no-touchevents .burger-menu .home-link:hover {
  border-bottom: 2px solid #fff;  
}

/* Styles for links outside of burger menu when narrow-nav is rendered */
.outside-burger-links {
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px 0;
  margin: 0;
}


/* Wide Navbar Styles */

.wide-nav {
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: -webkit-flex;
  display: flex;
  flex-direction: row-reverse;
  padding: 15px 0;
}

.wide-nav .home-link {
  position: absolute;
  left: 20px;
}

.twitter-login-link,
.logout-link {
  cursor: pointer;
}

/*.no-touchevents .twitter-login-link:hover,
.no-touchevents .logout-link:hover {
  border-bottom: 1px solid #000;  
}*/

.wide-nav ul {
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.wide-nav li,
.narrow-nav li {
  margin-right: 20px;
}


/* Burger Menu Styles */

/* Position and sizing of burger button */
/*.burger-menu {
  margin-top: 0;
}*/

/* links located within sliding menu */
/*.burger-menu a.home-link,
.burger-menu a.signup-link,
.burger-menu a.login-link,
.burger-menu a.logout-link,
.burger-menu a.settings-link {
  color: #fff !important;
  margin: 0 0 20px 20px !important;
}
*/
nav.bm-item-list {
  text-align: left;
}
nav.bm-item-list ul {
  text-align: left;
  padding: 0;
}
nav.bm-item-list li {
  margin-bottom: 20px;
}
/* links outside of sliding menu */
/*.burger-menu a.allbooks-link,
.burger-menu a.mybooks-link,
.burger-menu a.addbooks-link {
  padding: 10px 0;
}

.burger-menu a.settings-link {
  margin-top: 50px !important;
}*/

.bm-burger-button {
  position: absolute;
  width: 25px;
  height: 20px;
  left: 10px;
  top: 15px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
  background: #000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

a.active-link {
  color: #d81b06;
}

.no-touchevents .nav-container a.active-link:hover {
  border-bottom: 1px solid #d81b06;
}


