.pins-container {

}

.add-pin-box {
  width: 150px;
  height: 200px;
  background-color: #555;
  border-radius: 10px;
}

.modal-addPin {
  width: 500px;
  height: 500px;
  position: absolute;
  z-index: 10;
  background-color: #555;
  top: 50%;
  transform: translateY(-50%);
}